*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
body{
    background: #F4F2EC url(imagens/fundo.png) repeat-x;
}
a{
    color: #af670a;
}
a:hover{
    color: #227115;
}
#container{
    max-width: 1080px;
    min-width: 740px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 85px auto 130px;
    grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
    gap: 0px 30px;
}
/* ####################### header ####################### */
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin-left: 10px;
}
.item-menu{
    display: inline-block;
    margin-right: 10px;
}
.item-menu>a{
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 3px;
}
.item-menu>a:hover{
    border-bottom: 1px solid #a8a8a8 ;
}
/* ####################### main ####################### */
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 220px 220px;
    grid-template-areas:
    ' capa capa'
    'video mapa'
    'exposicoes noticia' ;
    gap: 0px 20px;
}
main h2{
    text-transform: uppercase;
    font-size: 13px;
    color: #227115;
    margin: 10px;
}
#capa{
    grid-area: capa;
}
#capa>img{
    width: 100%;
}
#video{
    grid-area: video;
    margin: 10px;
}
#video>iframe{
    width: 100%;
    height: 90%;
}
#mapa{
    grid-area: mapa;
    margin: 10px;
}
#mapa>iframe{
    width: 100%;
    height: 90%;
}
#exposicoes{
    grid-area: exposicoes;
    margin-top: 40px;
}
#exposicoes ul{
    margin-left: 20px;
}
#exposicoes li{
    font-size: 14px;
    margin: 5px;
}
#noticia{
    grid-area: noticia;
    margin-top: 40px;
}
#noticia p{
    font-size: 14px;
    margin-left: 10px;
}
#noticia a{
    display: block;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
}
/* ####################### aside ####################### */
aside{
    grid-area: aside;
}
/* ####################### footer ####################### */
footer{
    grid-area: footer;
}
/* ####################### outros ####################### */
.negrito{
    font-weight: 600;
}