*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
body{
    background: #F4F2EC url(imagens/fundo.png) repeat-x;
}
a{
    color: #af670a;
}
a:hover{
    color: #227115;
}
#container{
    max-width: 1080px;
    min-width: 780px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 85px auto 130px;
    grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
    gap: 0px 30px;
}
/* ####################### header ####################### */
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin-left: 10px;
}
.item-menu{
    display: inline-block;
    margin-right: 10px;
}
.item-menu>a{
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 3px;
}
.item-menu>a:hover{
    border-bottom: 1px solid #a8a8a8 ;
}
/* ####################### main ####################### */
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 220px 220px;
    grid-template-areas:
    ' capa capa'
    'video mapa'
    'exposicoes noticia' ;
    gap: 0px 20px;
}
main h2{
    text-transform: uppercase;
    font-size: 13px;
    color: #227115;
    margin: 10px 0;
}
#capa{
    grid-area: capa;
}
#capa>img{
    width: 100%;
}
#video{
    grid-area: video;
    margin: 10px 0;
}
#video>iframe{
    width: 100%;
    height: 90%;
}
#mapa{
    grid-area: mapa;
    margin: 10px 0;
}
#mapa>iframe{
    width: 100%;
    height: 90%;
}
#exposicoes{
    grid-area: exposicoes;
    margin-top: 40px;
}
#exposicoes ul{
    margin-left: 20px;
}
#exposicoes li{
    font-size: 14px;
    margin: 5px;
}
#noticia{
    grid-area: noticia;
    margin-top: 40px;
}
#noticia p{
    font-size: 14px;
}
#noticia a{
    display: block;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
}
/* ####################### aside ####################### */
aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
}
aside h3{
    text-transform: uppercase;
    font-size: 13px;
    color: #86521A;
}
#depoimento img{
    width: 100%;
}
#visita{
    margin-top: 15px;
    padding: 30px;
    background-color: #CDC8B1;
    font-size: 12px;
}
#visita div{
    display: block;
    margin-top: 10px;
}
#data{
    width: 130px;
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #ADA484;
}
#qnt-pessoas{
    width: 20%;
    margin-left: 10px ;
    padding: 3px;
    border: 1px solid #ADA484;
}
#verificar{
    display: block;
    margin: 20px auto 0 auto;
    color: #fff;
    background-color: #9B9271;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 5px;
    cursor: pointer;
}
#galeria{
    background-color: #EBE7DD;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 30px;
}
#galeria h3{
    grid-column: 1 / 3;
    /* grid-column: span 2; */
    margin-bottom: 30px;
}
.fotos{
    background: url(imagens/fundo-foto.png) no-repeat center;
    background-size: cover;
    padding: 12%;
    margin-bottom: 25px;
    justify-self: center;
}
.fotos img{
    width: 100%;
    margin: auto;
}
/* ####################### footer ####################### */
footer{
    grid-area: footer;
}
/* ####################### outros ####################### */
.negrito{
    font-weight: 600;
}