*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
}
body{
    margin: 15px;
    background-color: #fff8cf;
}
#container{
    width: 90%;
    margin: 15px auto;
    min-width: 640px;
	max-width: 1180px;
}

/* ##################### TOPO ##################### */

header{
    height: 250px;
    background: url("imagens/topo-imagem-principal.png") no-repeat left center;
}
#logo{
    float: left;
    margin: 15px;
}
#topo-lateral{
    float: right;
    height: 250px;
    width: 450px;
    background: url("imagens/topo-imagem-lateral.png") no-repeat left center;
}
#conteudo-topo{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 100px;
}
#reserva{
    float: left;
    width: 340px;
    border-top: 1px solid #a29750;
    border-bottom: 1px solid #a29750;
    color: #6e672c;
    padding: 5px 0;
    margin-bottom: 20px;
}
#reserva p{
    float: left;
    font-size: 0.7em;
    line-height: 20px;
}
#reserva a{
    float: right;
    text-decoration: none;
    color: #fdf6be;
    background-color: #a29750;
    font-size: 0.7em;
    text-transform: uppercase;
    padding: 5px 15px;
}
#reserva a:hover{
    color: #6e672c;
    background-color: #fdf6be;
}
#menu-topo{
    float: left;
}
#depoimento{
    float: right;
}
#menu-topo{
    list-style-type: none;
}
#menu-topo li{
    margin-bottom: 10px;
}
#menu-topo a{
    text-decoration: none;
    color: #6e672c;
    font-size: 0.82em;
    text-transform: uppercase;
    padding: 5px 10px;
}
#menu-topo a:hover{
    color: #6e672c;
    background-color: #fdf6be;
}
#depoimento img{
    width: 200px;
}

/* ##################### CORPO ##################### */