*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 16px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #ecf0f1;
}

/* ################ MENU ################ */

#cabeçalho{
    text-align: center;
    background-color: #f1c40f;
    color: #fff
}
 
#titulo{
    padding: 0.5em 1em 1em 1em;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff
}

.preto{
    color: #2c3e50;
}

#menu{
    padding: 1em;
}

.menu-bt{
    padding: 0.5em;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}

.menu-bt:hover{
    color: #f1c40f;
    background-color: #fff;
}

/* ################ CONTEUDO PRINCIPAL (MAIN CONTENT) ################ */

#conteudo{
    width: 80%;
    position: absolute;
    left: 10%;
}

#principal{
    
    width: 70%;
    position: absolute;
    left: 0px;
}

img{
    width: 100%;
}

.reportagem{
    padding: 6% 0px;
}

.titulo-rep{
    color: #f1c40f;
}

.subtitulo-rep{
    color: #7f8c8d;
}

.links{
    color: #f1c40f;
    text-decoration: none;
}

/* ################ BARRA LATERAL (SIDE BAR) ################ */

#lateral{
    
    width: 20%;
    position: absolute;
    right: 0px;
    padding-top: 2.5%;
}

.box-lateral{
    padding-bottom: 15%;
}

.titulo-lateral{
    padding: 10px 0px 10px 10px; 
}

#espaço-hr{
    padding: 10px 0px;
}

.titulo-lateral{
    color: #2d3436;
    background-color: #b2bec3;
}

